* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  margin: 0px;
  scroll-behavior: smooth;
  text-align: center;
}

body {
  background: #fdfbf8;
  min-height: 100vh;
}

.footer__text--1 {
  color: white !important;
}

h2 {
  font-size: 3rem;
  color: #274141;
}

h3 {
  font-size: 2rem;
  color: #274141;
}

p {
  font-size: 1rem;
  margin: 0px;
  padding: 0px;
  max-width: 800px;
}

@media (max-width: 768px) {
  .sidenav {
    display: none;
  }
}

@media (min-width: 769px) {
  .sidenav {
    height: 100%;
    position: fixed;
    top: 70%;
    left: 0;
    display: flex;
  }

  .side__nav {
    list-style: none;
  }
}

.social__icons {
  width: 60px;
  height: 60px;
  background-color: none;
  font-size: 25px;
  text-align: center;
  display: block;
  line-height: 60px;
  margin: 0 10px 10px;
  overflow: hidden;
  position: relative;
  flex-direction: column;
  transition: transform 1s, color 1s;
}

.social__icons:hover {
  border: rgb(247, 244, 244);
  transform: translateY(-5px);
}

.social__icons:hover .icon {
  color: #a8a4a4;
}

.social__icons--hidden {
  display: none;
}

/* ----------- NAV BAR ------------- */
.icon {
  position: relative;
  color: #262626;
  transition: 0.3s;
}

.nav__bar {
  background-color: darkslategrey;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 5rem;
  width: 100%;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
}

.nav__logo {
  float: left;
  display: flex;
  height: 6rem;
  transition: all 0.3s;
  padding-left: 5rem;
}

.nav__links {
  float: right;
  list-style: none;
}

.nav__links > a {
  margin: 25px;
  text-decoration: none;
  color: #efefef;
  font-size: 16px;
}

.nav__link:hover {
  color: grey;
  transition: 0.3s;
}

.hamburger {
  position: fixed;
  z-index: 100;
  top: 1rem;
  right: 1rem;
  padding: 4px;
  border: black solid 1px;
  background: white;
  cursor: pointer;
}

.closeIcon {
  display: none;
}

.hamburger {
  display: none;
}

.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 60px;
  margin-right: 10px;
  list-style: none;
}

.menuItem {
  text-decoration: none;
  color: white;
}

.showMenu {
  transform: translateY(0) !important;
}
/* Media Query to Show Burger Menu on Small Screens */
@media (max-width: 768px) {
  .menu {
    display: block;
    position: fixed;
    transform: translateY(-100%);
    top: 0;
    left: 0;
    right: 0;
    z-index: 99;
    background: #545d6a;
    color: black;
    list-style: none;
    padding: 20px;
  }

  .menuItem {
    font-size: 24px;
    color: white;
  }
  .hamburger {
    display: block;
  }
}

@media screen and (max-width: 650px) {
  .nav__logo {
    padding-left: 3px;
  }
}

/* ------------- HEADER --------------- */

.header__container {
  color: darkslategrey;
  display: flex;
  justify-content: center;
}

.header__text {
  display: block;
  margin: 200px;
  margin-bottom: 300px;
  padding-bottom: 3rem;
  gap: 20px;
  text-align: left !important;
}

h1 {
  font-size: 4rem;
  margin-bottom: 25px;
}

h4 {
  font-size: 1.5rem;
  font-weight: normal;
  color: black;
  margin-bottom: 30px;
}

.sdlc {
  height: 50%;
  border-radius: 40%;
}

.down__arrow {
  padding-top: 70px;
  margin-left: 50px;
  font-size: 3rem;
  color: rgb(116, 113, 113);
  cursor: pointer;
}

@media (max-width: 978px) {
  .header__container {
    display: flex;
    justify-content: center;
  }
  /* .header__text {
    margin-top: 100px;
  } */
}

.down__arrow:hover {
  color: #a8a4a4;
}

.up--down {
  animation: up--down linear 2s;
  animation-iteration-count: infinite;
  transform-origin: 50% 50%;
}

@keyframes up--down {
  0% {
    transform: translate(1px, 10px);
  }
  24% {
    transform: translate(1px, 15px);
  }
  50% {
    transform: translate(1px, 20px);
  }
  74% {
    transform: translate(1px, 15px);
  }
  100% {
    transform: translate(1px, 10px);
  }
}

/* --------- Title --------- */

.title__word {
  font-weight: 600;
  background-image: linear-gradient(
    -225deg,
    black 0%,
    #413333 29%,
    #503f3e 67%,
    slategrey 100%
  );
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  color: #fff;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 2s linear infinite;
  display: inline-block;
}

@keyframes textclip {
  to {
    background-position: 200% center;
  }
}

.return__home {
  font-size: 3rem;
  color: #777575;
  height: 100%;
  position: fixed;
  top: 80%;
  right: 30px;
  display: flex;
  cursor: pointer;
  transition: transform 1s, color 1s;
}

.return__home:hover {
  color: #a8a4a4;
  transform: translateY(-10px);
}

.return__home--hidden {
  display: none;
}

/* ----------- SECTIONS ----------------- */

.section {
  margin: 0px 0px 100px 0px;
  display: flex;
  /* justify-content: space-between; */
  flex-wrap: wrap;
  transition: transform 1s, opacity 1s;
}

.section--scroll {
  scroll-margin-top: 110px;
}

.section__title {
  display: flex;
  color: #113229;
  font-size: 3rem;
  padding-bottom: 3rem;
}

/* ------------ About -------------- */

.section--1 {
  display: grid;
  width: 100%;
  grid-template-columns: auto auto;
  gap: 1rem;
  margin-top: 100px;
  margin-right: 100px;
  margin-left: 100px;
}

.section--hidden {
  opacity: 0;
  transform: translateY(8rem);
}

.about__img {
  max-width: 60%;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
  background-color: #fdfbf8;
}

.about {
  width: 100%;
}

.about__intro {
  color: black;
  font-size: 1rem;
}

.about__tabs-container {
  margin-top: 0px;
}

.about__tab {
  font-size: 1rem;
  font-weight: 500;
  color: white;
  margin: 30px 50px 10px 0px;
  border: none;
  background-color: #545d6a;
  padding: 10px;
  border-radius: 10px;
  cursor: pointer;
  position: relative;
}

@media only screen and (max-width: 780px) {
  .section--1 {
    width: 100%;
    justify-content: center;
    justify-items: center;
    align-items: center;
  }
  .about {
    width: 65%;
  }
  .header__container {
    width: 100%;
  }
}

@media only screen and (max-width: 930px) {
  .section--1 {
    grid-template-columns: 40% 60%;
    grid-template-columns: repeat(auto-fill, minmax(450px, 2fr));
    justify-content: center;
    justify-items: center;
    align-items: center;
  }
  .about {
    width: 65%;
  }
}

@media only screen and (max-width: 1200px) {
  .section__title--1 {
    justify-content: center;
  }
  .about__tab {
    display: block;
  }
  .about__intro {
    text-align: justify;
  }
}

@media only screen and (min-width: 930px) {
  .about__intro {
    margin-right: 70px;
  }
}
@media only screen and (min-width: 1365px) {
  .about__intro {
    margin-right: 200px;
  }
}

@media only screen and (min-width: 1865px) {
  .section--1 {
    margin-right: 200px;
    margin-left: 200px;
  }
}

@media only screen and (min-width: 2265px) {
  .section--1 {
    margin-right: 400px;
    margin-left: 400px;
  }
}

.about__tab:hover {
  color: rgb(116, 113, 113);
}

.about__tab::after {
  content: "";
  width: 0;
  height: 3px;
  background: #545d6a;
  position: absolute;
  left: 0;
  bottom: -8px;
  transition: 0.3s;
}

.about__tab--active {
  translate: 0px -10px;
  transition: 0.3s;
}

.about__tab--active::after {
  width: 100%;
}

.about__content {
  margin-top: 1.75rem;
  display: none;
}

.about__content--active {
  display: block;
}

.tab__contents {
  font-size: 0.95rem;
  list-style: none;
  margin-bottom: 0.75rem;
}

.tab__contents span {
  color: #545d6a;
  font-weight: bold;
}

/* --------- Projects ---------- */

.section--2 {
  margin-top: 100px;
  width: 100%;
}

.section__title--2 {
  display: flex;
  font-size: 4rem;
  grid-column: span 2;
}

.code {
  padding-left: 40px;
  padding-top: 20px;
  font-size: 60px;
  color: #777575;
}

.project__grid {
  width: 100%;
  display: grid;
  grid-auto-flow: dense;
  grid-template-columns: minmax(100px, 1fr);
  column-gap: 2rem;
  row-gap: 5rem;
  align-content: center;
  justify-content: center;
  justify-items: center;
}

.project__tile {
  background-color: rgb(231, 229, 229);
  width: 450px;
  height: 300px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  cursor: pointer;
  border-radius: 9px;
}

@media only screen and (min-width: 1520px) {
  .project__grid {
    grid-template-columns: 35% 35%;
  }
  .project:nth-of-type(1) {
    grid-column: span 2;
  }
  .section__title--2 {
    align-items: left;
  }
}

.project__tile:hover {
  transform: translate(10px, -10px);
  opacity: 0.6;
  transition: all 0.5s;
}

.text {
  position: relative;
  background: rgba(0, 0, 0, 0.6);
  width: 100%;
  height: 100%;
  color: #fff;
  display: flex;
  flex-direction: column;
}

.img {
  display: block;
  border: 2px solid #fff;
  box-shadow: 2px 2px #ccc;
  /* -moz-box-shadow: 10px 10px 5px #ccc; */
  -webkit-box-shadow: 10px 10px 5px #ccc;
  /* -khtml-box-shadow: 10px 10px 5px #ccc; */
  align-items: center;
  justify-content: center;
}
.img--1 {
  width: 45%;
  padding-left: 2rem;
  border: none;
  box-shadow: none;
}

.img--2 {
  width: 80%;
}
.img--3 {
  width: 80%;
  border: none;
  box-shadow: none;
}
.img--4 {
  width: 80%;
}

.text__title {
  font-size: 1.5rem;
  font-weight: 500;
  cursor: pointer;
  transition: color 0.5s;
}

.text__title:hover {
  color: #545d6a;
}

.text__content {
  color: rgb(116, 113, 113);
  font-size: 1rem;
}

@media only screen and (max-width: 550px) {
  .section__title--2 {
    padding-left: 5px;
    font-size: 3.5rem;
    padding-bottom: 0;
  }

  .project__tile {
    width: 60%;
    height: 280px;
  }
  .grid_items {
    grid-template-columns: 47.5% 47.5%;
    grid-column-gap: 2rem;
    grid-row-gap: 40px;
  }
  .grid_items > div {
    padding: 20px;
  }
  .img--1 {
    width: 60%;
  }
  .icon-inner {
    display: none;
  }
  .code {
    padding-top: 5px;
    display: none;
  }
}

/* ------------- FOOTER ------------ */
/* .icon-linkedin {
  display: inline-block;
  width: 20px;
} */

.footer {
  color: #fff;
  align-items: center;
  text-align: left !important;
  height: 290px;
  background-color: #2f4f4f;
  position: relative;
  box-shadow: 0px -5px 10px rgba(0, 0, 0, 0.3);
}

.footer__text_cont--left {
  padding-top: 50px;
  padding-left: 400px;
  float: left;
  position: relative;
}

.footer__text_cont--right {
  padding-top: 50px;
  padding-right: 400px;
  float: right;
  position: relative;
}

.footer__text--1 {
  font-size: 2rem;
  padding-top: 20px;
}

.footer__text--2 {
  font-size: 1rem;
  padding-top: 20px;
}

.footer__link {
  /* padding: 10px; */
  margin-bottom: 20px;
  width: 50px;
  height: 50px;
  line-height: 25px;
}

.footer__link:hover {
  transition: transform 1s, color 1s;
  transform: translateY(-5px);
}

.footer__link--icon {
  font-size: 2rem;
  color: #fff;
  text-decoration: none;
  transition: color 1s;
}

.footer__link--icon:hover {
  color: #a8a4a4;
  /* transform: translateY(-5px); */
}

.footer__copyright {
  font-size: 0.75rem;
}

@media only screen and (max-width: 550px) {
  .footer__text_cont--left {
    padding-left: 20px;
  }
  .footer__text_cont--right {
    padding-right: 20px;
  }
  .footer__text--2 {
    font-size: 0.8rem;
  }
}

@media only screen and (max-width: 1200px) {
  .footer__text_cont--left {
    padding-left: 50px;
  }
  .footer__text_cont--right {
    padding-right: 50px;
  }
}

/* PROJECT POPUP WINDOWS */

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(4px);
  z-index: 100;
  transition: all 0.5s;
}

.hidden {
  visibility: hidden;
  display: none;
  opacity: 0;
}

.popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: auto;
  height: 80%;
  border-radius: 9px;
  background-color: #fff;
  padding: 10px;
  box-shadow: 0 4rem 6rem rgba(0, 0, 0, 0.25);
  z-index: 1000;
  transition: all 0.5s;
}

.popup__content {
  text-align: left;
  padding: 40px;
  height: 95%;
  width: auto;
  overflow: auto;
  margin: 0;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: #777575;
}

::-webkit-scrollbar-thumb:hover {
  width: 10px;
  background-color: #a8a4a4;
}

.btn--close-modal {
  color: rgb(116, 113, 113);
  font-size: 2rem;
  position: absolute;
  top: 0.5rem;
  right: 2rem;
  cursor: pointer;
  border: none;
  background: none;
}

.p--title {
  display: inline-block;
  font-size: 2.5rem;
  font-weight: 500;
}

.p--title-2 {
  display: inline-block;
  color: darkslategrey;
  margin-top: 30px;
  margin-bottom: 10px;
  font-size: 1.2rem;
  font-weight: 500;
}

.p--list li {
  list-style-position: inside;
  padding-inline-start: 1ch;
}

.p--list li::marker {
  content: "»";
  color: rgb(116, 113, 113);
  font-size: 25px;
  font-weight: 400;
}

.p--list li span {
  position: relative;
  left: 20px;
}

/* SLIDER */
.img__slider {
  width: 50rem;
  height: 25rem;
  margin: 0 auto;
  position: relative;

  /* IN THE END */
  overflow: hidden;
  display: block;
  justify-content: center;
}

.slide {
  position: absolute;
  display: flex;
  height: 25rem;
  width: 50rem;
  align-items: center;
  justify-content: center;
}

.imgs {
  position: relative;
  width: 90%;
  height: auto;
  display: block;
  transition: transform 1s;
  align-items: center;
  justify-content: center;
  border: 4px solid black;
  box-shadow: 2px 2px #ccc;
  -webkit-box-shadow: 10px 10px 5px #ccc;
}

.btn--source-1 {
  display: flex;
  width: 120px;
  font-size: 1rem;
  font-weight: bolder;
  color: #262626;
  text-decoration: none;
  transition: opacity 1s;
  background-color: #ccc;
  border-radius: 12px;
  padding-left: 10px;
  padding-right: 10px;
  margin-top: 35px;
}

.btn--source-2 {
  display: flex;
  width: 200px;
  font-size: 1rem;
  font-weight: bolder;
  color: #262626;
  text-decoration: none;
  transition: opacity 1s;
  background-color: #ccc;
  border-radius: 12px;
  padding-left: 10px;
  padding-right: 10px;
  margin-top: 35px;
}

.btn:hover {
  opacity: 0.6;
  transition: opacity 1s;
}

.slider__btn {
  position: absolute;
  top: 50%;
  border: none;
  background: #fff;
  color: #333;
  height: 2rem;
  width: 2rem;
  font-size: 1.5rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.slider__btn--left {
  left: 1.5%;
  transform: translate(-50%, -50%);
}

.slider__btn--right {
  right: 1.5%;
  transform: translate(50%, -50%);
}

.dots {
  position: absolute;
  bottom: 5%;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
}

.dots__dot {
  border: none;
  background-color: #b9b9b9;
  opacity: 0.7;
  height: 0.5rem;
  width: 0.5rem;
  border-radius: 50%;
  margin-right: 1.75rem;
  cursor: pointer;
  transition: all 0.5s;
}

.dots__dot:last-child {
  margin: 0;
}

.dots__dot--active {
  background-color: #888;
  opacity: 1;
}

@media only screen and (max-width: 1200px) {
  .img__slider {
    width: 100%;
  }
  .slider__btn {
    opacity: 0;
  }
  .slide {
    background-size: 100% 100%;
    width: 100%;
  }
}

.footer__text--2:hover {
  color: #a8a4a4;
  transition: transform 1s, color 1s;
  transform: translateY(-5px);
}

.contents {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0;
}

form {
  display: flex;
  flex-direction: column; /* Stack the elements vertically */
  align-items: center;
  min-width: 340px;
  width: 600px;
  height: 440px;
  background: #e6e6e6;
  border-radius: 8px;
  box-shadow: 0 0 40px -10px #000;
  margin: calc(50vh - 220px) auto;
  padding: 20px 30px;
  max-width: calc(100vw - 40px);
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  position: relative;
}

.contactMe {
  text-align: center;
  font-size: 2.5rem;
  margin: 10px 0;
  padding-bottom: 10px;
  color: #82828d;
  border-bottom: 3px solid #82828d;
}

.message {
  width: 100%;
  min-height: 150px; /* Set a minimum height */
  padding: 10px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 5px;
  resize: vertical; /* Allow vertical resizing */
  margin-top: 20px;
}

input {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  background: none;
  outline: none;
  resize: none;
  border: 0;
  font-family: "Montserrat", sans-serif;
  transition: all 0.3s;
  border-bottom: 2px solid #bebed2;
}

input:focus {
  border-bottom: 2px solid #82828d;
}

p:before {
  content: attr(type);
  display: block;
  margin: 28px 0 0;
  font-size: 18px;
  color: #5a5a5a;
}

.submitMessage {
  align-items: center;
  padding: 8px 12px;
  margin: 8px 0 0;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  border: 2px solid #78788c;
  background: 0;
  color: #5a5a6e;
  cursor: pointer;
  transition: all 0.3s;
}

.successMessage {
  background-color: #4caf50;
  color: white;
  text-align: center;
  padding: 10px;
  position: fixed;
  top: 200px;
  z-index: 1000;
  border-radius: 5px;
  animation: fadeInOut 4s ease-in-out;
}

.errorMessage {
  background-color: red;
  color: white;
  text-align: center;
  padding: 10px;
  position: fixed;
  top: 200px;
  z-index: 1000;
  border-radius: 5px;
  animation: fadeInOut 4s ease-in-out;
}

@keyframes fadeInOut {
  0%,
  100% {
    opacity: 0; /* Start and end with opacity 0 (invisible) */
  }
  50% {
    opacity: 1; /* Middle of the animation, opacity 1 (fully visible) */
  }
}

.loader {
  position: fixed;
  top: 200px;
  padding: 10px;
  transform: translate(-50%, -50%);
  border: 8px solid #f3f3f3; /* Light grey */
  border-top: 8px solid #3498db; /* Blue */
  border-radius: 50%;
  z-index: 1000;
  width: 50px;
  height: 50px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.expSection {
  display: inline-block;
  /* justify-content: center; */
  /* flex-direction: column; */
  align-items: center;
  text-align: center;
  margin-top: 100px;
}

.skillsSection {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 100px;
}

.industryTitle {
  margin-top: 30px;
  margin-bottom: 50px;
}

@media only screen and (max-width: 780px) {
  .industryTitle {
    font-size: 2.5rem;
  }

  .ethicsTitle {
    font-size: 1.5rem;
  }

  .ethics-1 .ethics-2 {
    font-size: 0.8rem;
  }

  .ethics {
    grid-template-columns: 1fr !important;
    padding: 20px;
    align-items: center;
    /* justify-content: center; */
  }

  .expImg {
    width: 100%;
  }

  .grid4 {
    margin-left: 0px;
  }

  .ethicsTitle {
    margin-left: 0px;
  }
}

.skillsGrid {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
}

.skillsText {
  padding: 10px;
  margin-bottom: 20px;
  width: 70%;
}

.criticalGrid {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
}

.criticalText {
  padding: 10px;
  margin-bottom: 20px;
  width: 100%;
}

@media only screen and (min-width: 781px) {
  .ethicsGrid {
    display: grid;
    grid-template-columns: auto auto;
    gap: 20px;
    padding-left: 145px;
    padding-right: 145px;
    padding-bottom: 80px;
    /* justify-content: center; */
    align-items: center;
  }

  .ethicsTitle {
    margin-top: 30px;
    margin-bottom: 30px;
    font-size: 2.7rem;
  }
}

.ethicsGrid img {
  justify-self: center;
  align-self: center;
  max-width: 100%;
}

.expImg {
  border: 1px solid #5a5a5a;
  border-radius: 4px;
  padding: 5px;
  width: 500px;
}

.jwtImg {
  width: 50%;
  margin-bottom: 20px;
}

.testImg {
  width: 50%;
  box-shadow: 0px -5px 10px rgba(0, 0, 0, 0.3);
}

.definitions {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: auto;
  max-width: 80%;
  background-color: #d9dcdf;
  border-radius: 10px;
  padding-left: 10px;
  padding-right: 10px;
}

.about__tabs-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.about__tab--3 {
  margin-right: 0px !important;
}

.definitionsText {
  display: flex;
  flex-direction: column;
  width: 70%;
  align-items: center;
  justify-content: center;
}

.definitionsText p {
  padding-bottom: 20px;
}

.credits__link {
  color: rgb(214, 222, 224);
  font-size: 12px;
}

.credits__link:hover {
  cursor: pointer;
}

.credits__popup {
  list-style-type: none;
  display: block;
  position: fixed;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: auto;
  height: auto;
  border-radius: 9px;
  background-color: #596064;
  padding: 10px;
  z-index: 1000;
  transition: all 0.5s;
  margin-bottom: 30px;
}

.credits__popup a {
  color: var(--color-light--2);
  list-style-type: none;
}

.hidden {
  display: none;
}

.credits__popup h1 {
  font-size: 24px;
  text-align: center;
  margin-bottom: 1rem;
}

.btn--close-modal {
  color: white;
}
